Repository ConcaveFi/concave-frontend, changes with the owners that CODEOWNERS names for each.
All owners: @greg-schrammel, @casuwu, @NUnicorn2860, @shanghigh, @21Chani, @Schrammel, @rrobrms

CODEOWNERS:

# *        @casuwu @gregs @NUnicorn2860 @Schrammel @shanghigh @rrobrms @21Chani


# Bonds UI: @greg-schrammel
# Bonds contract-integeration: @casuwu
apps/cave/components/Bond @greg-schrammel @casuwu


# LiquidStaking UI: @NUnicorn2860 @casuwu
# LiquidStaking contract-integration: @NUnicorn2860
apps/cave/components/LiquidStaking  @NUnicorn2860 @casuwu

# Marketplace UI: @shanghigh @21Chani
# Marketplace contract-integration:
apps/cave/components/Marketplace  @shanghigh @21Chani

# Swap UI: @greg-schrammel
# Swap contract-integration: @greg-schrammel @casuwu
apps/cave/components/AMM @greg-schrammel @casuwu

# Add/Remove Liquidity UI: @Schrammel
# Add/Remove Liquidity contract-integration: @Schrammel @casuwu
apps/cave/components/Positions @Schrammel @casuwu

# Dashboard UI: @greg-schrammel @shanghigh 
# Dashboard contract-integration: @greg-schrammel
apps/cave/components/Dashboard @greg-schrammel @shanghigh

# Sidebar UI: @NUnicorn2860 
# Sidebar contract-integration: @NUnicorn2860
apps/cave/components/Sidebar @NUnicorn2860

# GraphQL and Hasura @rrobrms
apps/cave/graphql @rrobrms
apps/cave/lib/hasura @rrobrms

# Concave UI libraries and hooks: @greg-schrammel
libs @greg-schrammel
apps/cave/hooks @greg-schrammel

updates
  apps/cave/hooks/useNftPositionSort.ts
Owners: @greg-schrammel

Revert "try to add linting rules"
  .github/linters/.eslintrc.yml
Owners: none

Revert "add ts-standard ignore cave/lib to package, try to make it pass lol"
  package.json
Owners: none

bond band aid fix, amountOut*10**18 (#297)
  apps/cave/components/Bond/BondBuyCard.tsx
Owners: @greg-schrammel, @casuwu

Update README.md
  README.md
Owners: none

hotfix: bonding modal value bandaid fix (#298)
  README.md
  apps/cave/components/Bond/BondBuyCard.tsx
Owners: @greg-schrammel, @casuwu

created interface for user bond function and began writing function
  apps/cave/components/Bond/BondState.tsx
Owners: @greg-schrammel, @casuwu

bond band aid fix
  apps/cave/components/Bond/BondBuyCard.tsx
Owners: @greg-schrammel, @casuwu

hotfix: bonding modal value bandaid fix (#298) (#299)
  README.md
  apps/cave/components/Bond/BondBuyCard.tsx
Owners: @greg-schrammel, @casuwu

Update imports
  apps/cave/components/Marketplace/MarketplaceFilterContainer.tsx
  apps/cave/components/Marketplace/MarketplaceSearchCard.tsx
Owners: @shanghigh, @21Chani

Removed mock filters from marketplace
  apps/cave/components/Marketplace/MarketplaceSearchCard.tsx
Owners: @shanghigh, @21Chani

Changes on sorter logic
  apps/cave/hooks/useNftPositionSort.ts
Owners: @greg-schrammel

fixed alignment
  apps/cave/components/Marketplace/Filters/SearchFilterCard.tsx
Owners: @shanghigh, @21Chani

Added SimpleSorterCard.tsx
  apps/cave/components/SearchFilters/SimpleSorterCard.tsx
Owners: none

MetalBox changes
  apps/cave/components/MetalBox.tsx
Owners: none

Removed scale on SearchFilterCard
  apps/cave/components/Marketplace/Filters/SearchFilterCard.tsx
Owners: @shanghigh, @21Chani

added DashBoardFilterContainer.tsx
  apps/cave/components/Dashboard/DashboardFilterContainer.tsx
Owners: @greg-schrammel, @shanghigh

added SimplePriceFilterCard.tsx
  apps/cave/components/SearchFilters/SimplePriceFilterCard.tsx
Owners: none

Layout Changes
  apps/cave/components/Dashboard/UserDashboardCard.tsx
  apps/cave/components/Dashboard/UserDividendCard.tsx
Owners: @greg-schrammel, @shanghigh

fix(apps/cave/staking): list all nfts
  apps/cave/lib/ConcaveNFTMarketplaceProxy/Fetcher.ts
Owners: none

More functions and type rename
  apps/cave/hooks/useNftPositionFilter.ts
Owners: @greg-schrammel

fixed imports
  apps/cave/components/Marketplace/MarketplaceFilterContainer.tsx
  apps/cave/components/Marketplace/MarketplaceSearchCard.tsx
Owners: @shanghigh, @21Chani

fixed zIndex on Choose button
  apps/cave/components/Marketplace/ChooseButton.tsx
Owners: @shanghigh, @21Chani

Changed filterByDay Function
  apps/cave/hooks/useNftPositionFilter.ts
Owners: @greg-schrammel

Stake pool filter card logic changes
  apps/cave/components/Marketplace/Filters/StakePoolFilterCard.tsx
Owners: @shanghigh, @21Chani

Merge pull request #301 from ConcaveFi/pagination_staking
  apps/cave/lib/ConcaveNFTMarketplaceProxy/Fetcher.ts
Owners: none

styles cahnges && logic
  apps/cave/components/Dashboard/DashboardFilterContainer.tsx
  apps/cave/components/Dashboard/UserDashboardCard.tsx
  apps/cave/hooks/useNftPositionSort.ts
Owners: @greg-schrammel, @shanghigh

removed filters && sorters on marketplace
  apps/cave/components/Marketplace/MarketplaceFilterContainer.tsx
  apps/cave/components/Marketplace/MarketplaceSearchCard.tsx
Owners: @shanghigh, @21Chani

trying build
  apps/cave/components/Dashboard/UserDashboardCard.tsx
Owners: @greg-schrammel, @shanghigh

started multiple sorters
  apps/cave/components/Dashboard/DashboardFilterContainer.tsx
  apps/cave/components/Dashboard/UserDashboardCard.tsx
  apps/cave/components/Marketplace/Filters/StakePoolFilterCard.tsx
  apps/cave/components/SearchFilters/SimpleSorterCard.tsx
  apps/cave/hooks/useNftPositionSort.ts
Owners: @greg-schrammel, @shanghigh, @21Chani

Fixed StakePoolFilterCard.tsx and implements
  apps/cave/components/Dashboard/DashboardFilterContainer.tsx
  apps/cave/components/Marketplace/Filters/StakePoolFilterCard.tsx
Owners: @greg-schrammel, @shanghigh, @21Chani

Removes, renames, fixed and more
  apps/cave/components/Dashboard/DashboardFilterContainer.tsx
  apps/cave/components/Marketplace/Filters/DiscountFilterCard.tsx
  apps/cave/components/Marketplace/Filters/PriceFilterCard.tsx
  apps/cave/components/Marketplace/Filters/RedeemFilterCard.tsx
  apps/cave/components/Marketplace/MarketplaceFilterContainer.tsx
  apps/cave/components/SearchFilters/SearchFilterCard.tsx
  apps/cave/components/SearchFilters/SimplePriceFilterCard.tsx
  apps/cave/components/SearchFilters/SimpleSorterCard.tsx
  apps/cave/components/SearchFilters/StakePoolFilterCard.tsx
Owners: @greg-schrammel, @shanghigh, @21Chani

Hasfilter update
  apps/cave/components/SearchFilters/SimplePriceFilterCard.tsx
  apps/cave/components/SearchFilters/StakePoolFilterCard.tsx
Owners: none

yarn lock
  yarn.lock
Owners: none

Add SecurityBanner component
  apps/cave/components/SecurityBanner.tsx
  apps/cave/pages/gemswap.tsx
  apps/cave/pages/liquid-staking.tsx
  apps/cave/pages/smart-bonding.tsx
  yarn.lock
Owners: none

multiple sorters working
  apps/cave/components/Dashboard/UserDashboardCard.tsx
  apps/cave/components/SearchFilters/StakePoolFilterCard.tsx
  apps/cave/hooks/useNftPositionSort.ts
Owners: @greg-schrammel, @shanghigh

Sidabar mobile easier to close
  apps/cave/components/SideBar/SideBar.tsx
Owners: none

usePair fix no liquidity bug
  apps/cave/components/AMM/hooks/usePair.ts
Owners: @greg-schrammel, @casuwu

prettier
  apps/cave/components/Bond/BondBuyCard.tsx
Owners: @greg-schrammel, @casuwu

layout fixes
  apps/cave/components/Layout.tsx
  apps/cave/pages/gemswap.tsx
Owners: none
