Repository ConcaveFi/concave-frontend, changes with the owners that CODEOWNERS names for each.
All owners: @casuwu, @NUnicorn2860, @Schrammel, @greg-schrammel, @21Chani, @rrobrms

CODEOWNERS:

# *        @casuwu @gregs @NUnicorn2860 @Schrammel @shanghigh @rrobrms @21Chani

# Bonds UI: @casuwu
# Bonds contract-integeration: @casuwu
apps/cave/components/Bond @casuwu

# LiquidStaking UI: @NUnicorn2860
# LiquidStaking contract-integration: @NUnicorn2860
apps/cave/components/LiquidStaking @NUnicorn2860

# Marketplace UI: @Schrammel
# Marketplace contract-integration: @Schrammel
apps/cave/components/Marketplace @Schrammel

# Swap UI: @greg-schrammel
# Swap contract-integration: @greg-schrammel
apps/cave/components/AMM @greg-schrammel

# Add/Remove Liquidity UI: @Schrammel
# Add/Remove Liquidity contract-integration: @Schrammel
apps/cave/components/Positions @Schrammel

# Dashboard UI: @21Chani
# Dashboard contract-integration: @21Chani
apps/cave/components/Dashboard @21Chani

# Sidebar UI: @NUnicorn2860 @greg-schrammel
# Sidebar contract-integration: @NUnicorn2860
apps/cave/components/Sidebar @NUnicorn2860 @greg-schrammel

# GraphQL and Hasura @rrobrms
apps/cave/graphql @rrobrms
apps/cave/lib/hasura @rrobrms

# Concave UI libraries and hooks: @greg-schrammel
libs @greg-schrammel
apps/cave/hooks @greg-schrammel

started on filters
  apps/cave/components/Dashboard/DashboardFilterContainer.tsx
  apps/cave/components/Dashboard/UserDashboardCard.tsx
  apps/cave/components/SearchFilters/SimplePriceFilterCard.tsx
  apps/cave/components/SearchFilters/StakePoolFilterCard.tsx
  apps/cave/hooks/useNftPositionFilter.ts
Owners: @21Chani, @greg-schrammel

Move SecurityBanner into Layout component
  apps/cave/components/Layout.tsx
  apps/cave/components/SecurityBanner.tsx
  apps/cave/pages/gemswap.tsx
  apps/cave/pages/liquid-staking.tsx
  apps/cave/pages/smart-bonding.tsx
Owners: none

Revert "add ts-standard ignore cave/lib to package, try to make it pass lol"
  package.json
Owners: none

Revert "try to add linting rules"
  .github/linters/.eslintrc.yml
Owners: none

Add SecurityBanner component
  apps/cave/components/SecurityBanner.tsx
  apps/cave/pages/gemswap.tsx
  apps/cave/pages/liquid-staking.tsx
  apps/cave/pages/smart-bonding.tsx
  yarn.lock
Owners: none

white space commit
  apps/cave/components/Dashboard/Mobile/DashboardMobile.tsx
Owners: @21Chani

try to add linting rules
  .github/linters/.eslintrc.yml
Owners: none

linted
  apps/cave/components/Treasury/VestedTokensDialogs/ACNVRedemptionDialog.tsx
Owners: none

added no position to stake mobile,still have to do some formating
  apps/cave/components/Dashboard/Mobile/DashboardMobile.tsx
Owners: @21Chani

add null check, selected.symbol check to add t on symbol only
  apps/cave/components/CurrencySelector/SelectCurrencyButton.tsx
Owners: none

add ts-standard ignore cave/lib to package, try to make it pass lol
  package.json
Owners: none

formatted hasNoPositionCard
  apps/cave/components/Dashboard/Mobile/DashboardMobile.tsx
Owners: @21Chani

Update README.md
  README.md
Owners: none

update linter.yml to exlcude cave/lib
  .github/workflows/linter.yml
Owners: none

bond band aid fix, amountOut*10**18 (#297)
  apps/cave/components/Bond/BondBuyCard.tsx
Owners: @casuwu
