Repository ConcaveFi/concave-frontend, changes with the owners that CODEOWNERS names for each.
All owners: @greg-schrammel, @casuwu, @NUnicorn2860, @shanghigh, @21Chani, @Schrammel, @rrobrms

CODEOWNERS:

# *        @casuwu @gregs @NUnicorn2860 @Schrammel @shanghigh @rrobrms @21Chani


# Bonds UI: @greg-schrammel
# Bonds contract-integeration: @casuwu
apps/cave/components/Bond @greg-schrammel @casuwu


# LiquidStaking UI: @NUnicorn2860 @casuwu
# LiquidStaking contract-integration: @NUnicorn2860
apps/cave/components/LiquidStaking  @NUnicorn2860 @casuwu

# Marketplace UI: @shanghigh @21Chani
# Marketplace contract-integration:
apps/cave/components/Marketplace  @shanghigh @21Chani

# Swap UI: @greg-schrammel
# Swap contract-integration: @greg-schrammel @casuwu
apps/cave/components/AMM @greg-schrammel @casuwu

# Add/Remove Liquidity UI: @Schrammel
# Add/Remove Liquidity contract-integration: @Schrammel @casuwu
apps/cave/components/Positions @Schrammel @casuwu

# Dashboard UI: @greg-schrammel @shanghigh 
# Dashboard contract-integration: @greg-schrammel
apps/cave/components/Dashboard @greg-schrammel @shanghigh

# Sidebar UI: @NUnicorn2860 
# Sidebar contract-integration: @NUnicorn2860
apps/cave/components/Sidebar @NUnicorn2860

# GraphQL and Hasura @rrobrms
apps/cave/graphql @rrobrms
apps/cave/lib/hasura @rrobrms

# Concave UI libraries and hooks: @greg-schrammel
libs @greg-schrammel
apps/cave/hooks @greg-schrammel

toFixed
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

unnused import
  apps/cave/components/Treasury/Mobile/RedeemMobileCard.tsx
Owners: none

Updated Contract addresses
  apps/cave/components/Treasury/Hooks/useVestedTokens.tsx
Owners: none

Clean up
  apps/cave/components/Treasury/Hooks/useVestedTokens.tsx
Owners: none

Updated contracts to mainnet
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

...
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

one more try
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

verifications to prevent errors
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

updated bbtCNV redemption address
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

removed chainId parameter
  apps/cave/components/Treasury/Hooks/useVestedTokens.tsx
Owners: none

fixed useVestedToken param
  apps/cave/components/Treasury/VestedTokensDialogs/ACVNRedemptionDialog.tsx
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

copy
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

..
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

addresses fixed to mainnet
  apps/cave/components/Treasury/VestedTokensDialogs/ACVNRedemptionDialog.tsx
Owners: none

..
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

real fixed addresses ...
  apps/cave/components/Treasury/Hooks/useBBTCNVRedeemable.ts
Owners: none

aCNV redeem logic
  apps/cave/components/Treasury/VestedTokensDialogs/ACVNRedemptionDialog.tsx
Owners: none

build
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

Button warns
  apps/cave/components/Treasury/VestedTokensDialogs/ACVNRedemptionDialog.tsx
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

verifications
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

push bbt addy
  apps/cave/components/Treasury/Hooks/useBBTCNVRedeemable.ts
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

prod bbt
  apps/cave/components/Treasury/Hooks/useBBTCNVRedeemable.ts
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

fix
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

copy main copy fix
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
Owners: none

Stake Card border radius
  apps/cave/components/LiquidStaking/StakeCard.tsx
  apps/cave/components/LiquidStaking/StakeModal/Emissions.tsx
Owners: @NUnicorn2860, @casuwu

refactor(cave/staking/rewards): improves type readable
  apps/cave/components/Dashboard/Mobile/Components/UserCard/RedeemContainer.tsx
  apps/cave/components/Dashboard/UserPosition/RedeemViewer.tsx
  apps/cave/contracts/DashBoard/DashBoardState.tsx
  apps/cave/lib/ConcaveNFTMarketplaceProxy/NonFungibleToken.ts
  apps/cave/lib/StakingV1Proxy/StakingV1Contract.ts
  apps/cave/lib/StakingV1Proxy/UserReward.ts
Owners: @greg-schrammel, @shanghigh

fix(cave/util/formatFixed): fix error on decimalPlaces
  apps/cave/utils/formatFixed.ts
Owners: none

refactor(cave/staking/address)
  apps/cave/lib/StakingV1Proxy/Address.ts
Owners: none

test
  apps/cave/components/Bond/BondBuyCard.tsx
Owners: @greg-schrammel, @casuwu

fix chart tokens / breaking line
  apps/cave/components/AMM/Chart/CandleStickTokenOptions.tsx
Owners: @greg-schrammel, @casuwu

Swap disable swap if price impact > 20%
  apps/cave/components/AMM/Swap/useSwapButtonProps.tsx
  apps/cave/pages/gemswap.tsx
Owners: @greg-schrammel, @casuwu

Remove Liquidity fix precision
  apps/cave/components/AMM/RemoveLiquidity/RemoveLiquidity.tsx
Owners: @greg-schrammel, @casuwu

check if amount is number then return number or 0
  apps/cave/components/AMM/RemoveLiquidity/RemoveLiquidity.tsx
Owners: @greg-schrammel, @casuwu

RedeemButton active is optional
  apps/cave/components/Dashboard/Mobile/Components/UserCard/RedeemContainer.tsx
Owners: @greg-schrammel, @shanghigh

CurrencyAmountField fix missed state sometimes
  apps/cave/components/CurrencyAmountField/CurrencyAmountField.tsx
Owners: none

CurrencyAmountField it's all kinda hackysh, lets refactor later
  apps/cave/components/CurrencyAmountField/CurrencyAmountField.tsx
Owners: none

CurrencyAmountField remove debounce fix state issues
  apps/cave/components/CurrencyAmountField/CurrencyAmountField.tsx
  apps/cave/components/CurrencyAmountField/CurrencyInputField.tsx
Owners: none

CurrencyInputField remove debounce
  apps/cave/components/CurrencyAmountField/CurrencyInputField.tsx
Owners: none

add question marks in currencyAmountField
  apps/cave/components/CurrencyAmountField/CurrencyAmountField.tsx
Owners: none

the return of input debounce
  apps/cave/components/CurrencyAmountField/CurrencyAmountField.tsx
  apps/cave/components/CurrencyAmountField/CurrencyInputField.tsx
  libs/gemswap-sdk/src/entities/currencyAmount.ts
Owners: @greg-schrammel
