Repository ConcaveFi/concave-frontend, changes with the owners that CODEOWNERS names for each.
All owners: @greg-schrammel, @casuwu, @NUnicorn2860, @shanghigh, @21Chani, @Schrammel, @rrobrms

CurrencyAmountField I think it's a liiittttle bit better
  apps/cave/components/CurrencyAmountField/CurrencyAmountField.tsx
Owners: none

Update Fetcher.ts
  apps/cave/lib/ConcaveNFTMarketplaceProxy/Fetcher.ts
Owners: none

Fraction default groupSeparator
  libs/core/src/entities/fraction.ts
Owners: @greg-schrammel

CurrencyAmount round half up
  libs/core/src/entities/currencyAmount.ts
Owners: @greg-schrammel

CurrencyAmount fix tests, can't round up, keep it down
  libs/core/src/entities/currencyAmount.ts
  libs/core/test/entities/CurrencyAmount.test.ts
Owners: @greg-schrammel

move math to gemswap
  libs/core/src/functions/index.ts
  libs/gemswap-sdk/src/entities/pair.ts
  libs/gemswap-sdk/src/functions/index.ts
  libs/gemswap-sdk/src/functions/math.ts
  libs/gemswap-sdk/test/functions/sqrt.test.ts
Owners: @greg-schrammel

tests
  apps/cave/components/AMM/AddLiquidity/useAddLiquidityTransaction.ts
  libs/core/src/functions/validateAndParseAddress.ts
  libs/gemswap-sdk/src/entities/route.ts
  libs/gemswap-sdk/test/entities.test.ts
  libs/gemswap-sdk/test/entities/Price.test.ts
Owners: @greg-schrammel, @casuwu

scripts
  apps/cave/package.json
  package.json
  turbo.json
  yarn.lock
Owners: none

core
  apps/cave/components/AMM/Chart/CandleStickTokenOptions.tsx
Owners: @greg-schrammel, @casuwu

...
  apps/cave/components/Treasury/Mobile/RedeemMobileCard.tsx
Owners: none

clean up & rename
  apps/cave/components/Treasury/TreasuryRedeemCard.tsx
  apps/cave/components/Treasury/VestedTokensDialogs/ACNVRedemptionDialog.tsx
  apps/cave/components/YourWalletModal.tsx
Owners: none

more renames
  apps/cave/components/Treasury/VestedTokensDialogs/ACNVRedemptionDialog.tsx
Owners: none

Lasts fixes
  apps/cave/components/Treasury/Hooks/useVestedTokens.tsx
  apps/cave/components/Treasury/VestedTokensDialogs/ACNVRedemptionDialog.tsx
Owners: none

only mainnet provider
  apps/cave/components/Treasury/VestedTokensDialogs/ACNVRedemptionDialog.tsx
Owners: none

Merge branch 'develop' of https://github.com/ConcaveFi/concave-frontend into develop
  apps/cave/lib/ConcaveNFTMarketplaceProxy/Fetcher.ts
Owners: none

revert
  apps/cave/components/YourWalletModal.tsx
Owners: none

aCNV balance toFixed(2)
  apps/cave/components/Treasury/VestedTokensDialogs/ACNVRedemptionDialog.tsx
Owners: none

fix(cave/positions): list positions (wip)
  apps/cave/lib/ConcaveNFTMarketplaceProxy/Fetcher.ts
Owners: none

fix(build)
  apps/cave/components/Treasury/Hooks/useBBTCNVRedeemable.ts
  apps/cave/components/Treasury/VestedTokensDialogs/BBTCNVRedemptionDialog.tsx
  apps/cave/contracts/VestedTokens/RedeemBbtCNVAbi.ts
  apps/cave/pages/faucet.tsx
  apps/cave/utils/truncateNumber.ts
Owners: none

feat(cave/lib/core): remove type of ABI :(
  apps/cave/components/Bond/BondState.tsx
  apps/cave/lib/Router.ts
  libs/core/src/abis/Bond.ts
  libs/core/src/abis/Erc20.ts
  libs/core/src/abis/Router.ts
Owners: @greg-schrammel, @casuwu

...
  apps/cave/pages/dashboard.tsx
Owners: none

try-build
  apps/cave/public/assets/concave
  apps/cave/public/assets/concave/ConcavePreview.png
  apps/cave/public/assets/concave/concaveLogo.gif
  apps/cave/public/assets/concave/loader.json
  apps/cave/public/assets/concave/logomark.svg
  apps/cave/public/assets/concave/logotype.svg
  apps/cave/public/assets/connectors
  apps/cave/public/assets/connectors/brave-wallet.png
  apps/cave/public/assets/connectors/coinbase-wallet.png
  apps/cave/public/assets/connectors/frame.png
  apps/cave/public/assets/connectors/injected.png
  apps/cave/public/assets/connectors/metamask.png
  apps/cave/public/assets/connectors/tally.png
  apps/cave/public/assets/connectors/walletconnect.png
  apps/cave/public/assets/fonts
  apps/cave/public/assets/fonts/ProductSans-400.woff2
  apps/cave/public/assets/fonts/ProductSans-500.woff2
  apps/cave/public/assets/fonts/ProductSans-700.woff2
  apps/cave/public/assets/fonts/ProductSans-900.woff2
  apps/cave/public/assets/fonts/SharpSans-500.woff2
  apps/cave/public/assets/fonts/SharpSans-600.woff2
  apps/cave/public/assets/fonts/SharpSans-700.woff2
  apps/cave/public/assets/fonts/SharpSans-800.woff2
  apps/cave/public/assets/fonts/SharpSans-900.woff2
  apps/cave/public/assets/textures
  apps/cave/public/assets/textures/glass.jpg
  apps/cave/public/assets/textures/metal.jpg
  apps/cave/public/assets/textures/metal.png
  apps/cave/public/assets/tokens
  apps/cave/public/assets/tokens/cnv.svg
  apps/cave/public/assets/tokens/dai.svg
  apps/cave/public/assets/tokens/eth.svg
  apps/cave/public/assets/tokens/frax.svg
  apps/cave/public/assets/tokens/link.svg
  apps/cave/public/assets/tokens/mdai.svg
  apps/cave/public/assets/tokens/tcnv.svg
  apps/cave/public/assets/tokens/weth.svg
  apps/cave/public/assets/tokens/xmr.svg
  yarn.lock
Owners: none

fix tokenId through bigNumber usage, fix variable typo
  apps/cave/components/Dashboard/UserPosition/NftPositionContainer.tsx
  apps/cave/components/Dashboard/UserPositionCard.tsx
Owners: @greg-schrammel, @shanghigh

fix build error by removing symlinks and replacing them with actual folders/files (#286)
  apps/cave/public/assets/concave
  apps/cave/public/assets/concave/ConcavePreview.png
  apps/cave/public/assets/concave/concaveLogo.gif
  apps/cave/public/assets/concave/loader.json
  apps/cave/public/assets/concave/logomark.svg
  apps/cave/public/assets/concave/logotype.svg
  apps/cave/public/assets/connectors
  apps/cave/public/assets/connectors/brave-wallet.png
  apps/cave/public/assets/connectors/coinbase-wallet.png
  apps/cave/public/assets/connectors/frame.png
  apps/cave/public/assets/connectors/injected.png
  apps/cave/public/assets/connectors/metamask.png
  apps/cave/public/assets/connectors/tally.png
  apps/cave/public/assets/connectors/walletconnect.png
  apps/cave/public/assets/fonts
  apps/cave/public/assets/fonts/ProductSans-400.woff2
  apps/cave/public/assets/fonts/ProductSans-500.woff2
  apps/cave/public/assets/fonts/ProductSans-700.woff2
  apps/cave/public/assets/fonts/ProductSans-900.woff2
  apps/cave/public/assets/fonts/SharpSans-500.woff2
  apps/cave/public/assets/fonts/SharpSans-600.woff2
  apps/cave/public/assets/fonts/SharpSans-700.woff2
  apps/cave/public/assets/fonts/SharpSans-800.woff2
  apps/cave/public/assets/fonts/SharpSans-900.woff2
  apps/cave/public/assets/textures
  apps/cave/public/assets/textures/glass.jpg
  apps/cave/public/assets/textures/metal.jpg
  apps/cave/public/assets/textures/metal.png
  apps/cave/public/assets/tokens
  apps/cave/public/assets/tokens/cnv.svg
  apps/cave/public/assets/tokens/dai.svg
  apps/cave/public/assets/tokens/eth.svg
  apps/cave/public/assets/tokens/frax.svg
  apps/cave/public/assets/tokens/link.svg
  apps/cave/public/assets/tokens/mdai.svg
  apps/cave/public/assets/tokens/tcnv.svg
  apps/cave/public/assets/tokens/weth.svg
  apps/cave/public/assets/tokens/xmr.svg
  yarn.lock
Owners: none

Update turbo.json
  turbo.json
Owners: none

fix(cave/positions): list positions (wip)
  apps/cave/lib/ConcaveNFTMarketplaceProxy/Fetcher.ts
Owners: none

fix tokenId through bigNumber usage, fix variable typo
  apps/cave/components/Dashboard/UserPosition/NftPositionContainer.tsx
  apps/cave/components/Dashboard/UserPositionCard.tsx
Owners: @greg-schrammel, @shanghigh

add null check, selected.symbol check to add t on symbol only
  apps/cave/components/CurrencySelector/SelectCurrencyButton.tsx
Owners: none

linted
  apps/cave/components/Treasury/VestedTokensDialogs/ACNVRedemptionDialog.tsx
Owners: none

dashboard components in same file.
  apps/cave/components/Dashboard/Mobile/Components/DividendsShare.tsx
  apps/cave/components/Dashboard/Mobile/Components/UserCard/NftPositionViewer.tsx
  apps/cave/components/Dashboard/Mobile/Components/UserPositionCard.tsx
  apps/cave/components/Dashboard/UserDashboardCard.tsx
  apps/cave/components/Dashboard/UserDividendCard.tsx
  apps/cave/components/Dashboard/UserPosition/NftPositionContainer.tsx
  apps/cave/components/Dashboard/UserPositionCard.tsx
  apps/cave/pages/dashboard.tsx
Owners: @greg-schrammel, @shanghigh

fix build error by removing symlinks and replacing them with actual folders/files (#286)
  apps/cave/public/assets/concave
  apps/cave/public/assets/concave/ConcavePreview.png
  apps/cave/public/assets/concave/concaveLogo.gif
  apps/cave/public/assets/concave/loader.json
  apps/cave/public/assets/concave/logomark.svg
  apps/cave/public/assets/concave/logotype.svg
  apps/cave/public/assets/connectors
  apps/cave/public/assets/connectors/brave-wallet.png
  apps/cave/public/assets/connectors/coinbase-wallet.png
  apps/cave/public/assets/connectors/frame.png
  apps/cave/public/assets/connectors/injected.png
  apps/cave/public/assets/connectors/metamask.png
  apps/cave/public/assets/connectors/tally.png
  apps/cave/public/assets/connectors/walletconnect.png
  apps/cave/public/assets/fonts
  apps/cave/public/assets/fonts/ProductSans-400.woff2
  apps/cave/public/assets/fonts/ProductSans-500.woff2
  apps/cave/public/assets/fonts/ProductSans-700.woff2
  apps/cave/public/assets/fonts/ProductSans-900.woff2
  apps/cave/public/assets/fonts/SharpSans-500.woff2
  apps/cave/public/assets/fonts/SharpSans-600.woff2
  apps/cave/public/assets/fonts/SharpSans-700.woff2
  apps/cave/public/assets/fonts/SharpSans-800.woff2
  apps/cave/public/assets/fonts/SharpSans-900.woff2
  apps/cave/public/assets/textures
  apps/cave/public/assets/textures/glass.jpg
  apps/cave/public/assets/textures/metal.jpg
  apps/cave/public/assets/textures/metal.png
  apps/cave/public/assets/tokens
  apps/cave/public/assets/tokens/cnv.svg
  apps/cave/public/assets/tokens/dai.svg
  apps/cave/public/assets/tokens/eth.svg
  apps/cave/public/assets/tokens/frax.svg
  apps/cave/public/assets/tokens/link.svg
  apps/cave/public/assets/tokens/mdai.svg
  apps/cave/public/assets/tokens/tcnv.svg
  apps/cave/public/assets/tokens/weth.svg
  apps/cave/public/assets/tokens/xmr.svg
  yarn.lock
Owners: none

Added MetalBox.tsx
  apps/cave/components/MetalBox.tsx
Owners: none

styles update
  apps/cave/components/Dashboard/UserDashboardCard.tsx
Owners: @greg-schrammel, @shanghigh

Rename and cleanup
  apps/cave/hooks/useNftPositionFilter.ts
  apps/cave/hooks/useNftPositionSort.ts
Owners: @greg-schrammel

Updated importes
  apps/cave/components/Marketplace/Filters/DiscountFilterCard.tsx
  apps/cave/components/Marketplace/Filters/PriceFilterCard.tsx
  apps/cave/components/Marketplace/Filters/RedeemFilterCard.tsx
  apps/cave/components/Marketplace/Filters/StakePoolFilterCard.tsx
Owners: @shanghigh, @21Chani

try to add linting rules
  .github/linters/.eslintrc.yml
Owners: none

add ts-standard ignore cave/lib to package, try to make it pass lol
  package.json
Owners: none

update linter.yml to exlcude cave/lib
  .github/workflows/linter.yml
Owners: none

Updates getters
  apps/cave/lib/ConcaveNFTMarketplaceProxy/NonFungibleToken.ts
Owners: none

Added more sort types
  apps/cave/hooks/useNftPositionSort.ts
Owners: @greg-schrammel

CODEOWNERS:

# *        @casuwu @gregs @NUnicorn2860 @Schrammel @shanghigh @rrobrms @21Chani


# Bonds UI: @greg-schrammel
# Bonds contract-integeration: @casuwu
apps/cave/components/Bond @greg-schrammel @casuwu


# LiquidStaking UI: @NUnicorn2860 @casuwu
# LiquidStaking contract-integration: @NUnicorn2860
apps/cave/components/LiquidStaking  @NUnicorn2860 @casuwu

# Marketplace UI: @shanghigh @21Chani
# Marketplace contract-integration:
apps/cave/components/Marketplace  @shanghigh @21Chani

# Swap UI: @greg-schrammel
# Swap contract-integration: @greg-schrammel @casuwu
apps/cave/components/AMM @greg-schrammel @casuwu

# Add/Remove Liquidity UI: @Schrammel
# Add/Remove Liquidity contract-integration: @Schrammel @casuwu
apps/cave/components/Positions @Schrammel @casuwu

# Dashboard UI: @greg-schrammel @shanghigh 
# Dashboard contract-integration: @greg-schrammel
apps/cave/components/Dashboard @greg-schrammel @shanghigh

# Sidebar UI: @NUnicorn2860 
# Sidebar contract-integration: @NUnicorn2860
apps/cave/components/Sidebar @NUnicorn2860

# GraphQL and Hasura @rrobrms
apps/cave/graphql @rrobrms
apps/cave/lib/hasura @rrobrms

# Concave UI libraries and hooks: @greg-schrammel
libs @greg-schrammel
apps/cave/hooks @greg-schrammel
